version: '3.8'
services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      BD_HOST: db
      BD_PORT: 5432
      BD_PASS: root
      BD_USER: admin
      BD_NAME: main
    volumes:
      - .:/app

  db:
    image: postgres:latest
    container_name: db
    ports:
    - "5433:5432"
    environment:
      - POSTGRES_DB=main
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=root
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "1G"
        reservations:
          memory: "512M"
    

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: "256M"
        reservations:
          memory: "128M"

volumes:
  postgres_data:
  redis_data:
